@charset "utf-8";
form,textarea,select,option,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dt,dd,menu,blockquote,fieldset,label,i,em,header,footer,section
legend,hr,pre,span,p,a,div{
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none; /*火狐*/
    -ms-user-select:none;  /*IE10*/
    user-select:none;
}
header{width: 100%;overflow: hidden;background: #ffffff;}
.head-signal{width: 100%;height: .2rem;}
.head-blue{background:#4e9fee;position:relative;}
.head-con{height:.88rem;overflow: hidden; position: relative;}
.head-return{display: block;overflow: hidden;position: absolute;
    left: .3rem;z-index: 2;top: .28rem;}
.head-return img{display: block;width: .2rem;height: .36rem;}
.head-con span{width: 100%;text-align: center;line-height: .88rem;font-size: .36rem;
    color: #ffffff;display: block;}
.head-sure{display: block;  font-size: .28rem;  color: #ffffff;
    margin-top: .04rem;position: absolute;top: .2rem;right: .3rem;}
.head-blue .share{position: absolute;right:0.3rem;top:0.22rem;width:0.44rem;height:0.44rem;background:url("../images/share.png") no-repeat;
    font-size: 0.32rem;color:#fff;z-index: 111;background-size: 100% 100%;}

.center{overflow: hidden;}
.line{background: -webkit-linear-gradient(top,transparent 50%,#e5e5e5 50%) center bottom no-repeat;
    background-size: 100% 1px;}
.after-scale{
    position: relative;
}
.after-scale:after{
    content:"";  position: absolute;
    bottom:0;  left:0;  right:0;
    border-bottom:1px solid #c8c7cc;
    -webkit-transform:scaleY(.5);
    -webkit-transform-origin:0 0;
}



/*判断是否有安装学习通*/
#share{width: 100%;  height: 61px;  background: #4a4a4a;overflow: hidden;}
#share .logo{    width: 140px;  float: left;  display: block;  margin: 9px 0 0 10px;}
#share a{display: block;  float: right;  margin: 14px 10px;}
#share a img{width: 61px;display: block}
#share .closeBtn{ float: right;  display: block;      width: 15px;  margin: 23px 15px 0 8px;}


/*第几关*/
.hide{display:none !important;}


.top_menu{ background-color:#fff;  font-family: "FZJZJW";width:100%;height:0.86rem;border-top:1px solid #e5e5e5;border-bottom:1px solid #bf9c7f;line-height: 0.86rem;text-align: center;position:relative;z-index: 99;}
.top_menu .time{position: absolute;left:0.3rem;top:0.25rem;padding-left:0.47rem;height:0.35rem;line-height: 0.35rem;font-size:0.28rem;color:#db346e;}
.top_menu .time:after{content:' ';position: absolute;left:0;top:0.02rem;width:0.33rem;height:0.31rem;background:url("../images/icon.png") no-repeat;background-size:7.5rem 10rem; background-position: -4rem -6.8rem;}
.top_menu .tit{font-family: "PingFang-Medium";font-size:0.36rem;color:#4e9fee;}
.top_menu .gemstone{position: absolute;right:0.4rem;top:0.25rem;padding-left:0.48rem;height:0.35rem;line-height: 0.35rem;font-size:0.28rem;color:#db346e;}
.top_menu .gemstone:after{content:' ';position: absolute;left:0;top:0.02rem;width:0.31rem;height:0.30rem;background:url("../images/icon.png") no-repeat;background-size:7.5rem 10rem; background-position: -0.96rem -7.16rem;}

.popup5,.popup6{
    background: url(../images/popup2.png) no-repeat;
    background-size: 100% 100%;
}

.popup4,.popup5,.popup6{
    width: 6.36rem;
    height: 6.7rem;
    position: absolute;
    top:3.29rem;
    left: 0;
    right: 0;
    margin:auto;
    text-align: center;
    z-index: 666;
    font-size: .34rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .60rem;
    color: #333333;
    display: inline-block;
}
.popup5 .prompt-text2,.popup6 .prompt-text2{
    margin-top:2.87rem;
}
.popup5 .btn-box,.popup6 .btn-box{
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 .66rem;
    margin-top: .7rem;
}
.button2 {
    width: 2.31rem;
    height: .94rem;
    font-family: "PingFang-Medium";
    font-size: .36rem;
    color: #fff;
    line-height: .94rem;
    text-align: center;
    display: inline-block;
}
.translucent-bg{
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 222;
}

.popup7{
    width: 6.36rem;
    height: 6.7rem;
    position: absolute;
    top:3.29rem;
    left: 0;
    right: 0;
    margin:auto;
    text-align: center;
    z-index: 666;
    background: url(../images/popup2.png) no-repeat;
    background-size: 100% 100%;
}
.popup7 p{ width: 4.3rem;
    font-size: .34rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .60rem;
    color: #333333;
    display: inline-block;}
.popup7 p span{padding: 0 .1rem;color: green;}
.popup7 .prompt-text{
    margin-top:2.6rem;
}
.popup7 .btn-box{
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 .66rem;
    margin-top: .7rem;
}
.popup7 .btn-box .button {
    width: 2.31rem;
    height: .94rem;
    font-family: "PingFang-Medium";
    font-size: .36rem;
    color: #fff;
    line-height: .94rem;
    text-align: center;
    display: inline-block;
}
.popup7 .btn-box #back{margin-right: .2rem;}
.btn-blue{
    background: url(../images/btn-blue.png) no-repeat;
    background-size: 100% 100%;
}
.btn-yellow{
    background: url(../images/btn-yellow.png) no-repeat;
    background-size: cover;
}

.popup4{
    background: url(../images/popup2.png) no-repeat;
    background-size: 100% 100%;
}
.popup4 .prompt-text2{
    margin-top:.3rem;
}
.popup4 .btn-box{
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 .66rem;
    margin-top: .7rem;
}
.popup4 .error{
    margin: 2.1rem auto 0;
    width: 1.28rem;
    height: 1.28rem;
    display: block;
}
.btn-exit{
    width: .6rem;
    height: .61rem;
    font-size: .24rem;
    font-weight: bold;
    line-height: .6rem;
    position: absolute;
    right: .3rem;
    top: .5rem;
    background: url("../images/exit.png") no-repeat center;
    background-size: .6rem .61rem;
}

