

body{/*background: url("../images/word-bg.png");*/}



.content{width:auto;height:auto;background-color:#fff;}

.idiom_boxs{padding-top:1rem;width:6.5rem;height:1.4rem;margin:0 auto;}
.idiom_boxs ul li{float:left;width:1.4rem;height:1.4rem;margin-right:0.3rem;text-align: center;line-height: 1.4rem;
    font-family: MicrosoftYaHei;
    font-size: 1.1rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #333333;}
.idiom_boxs ul li:last-child{margin-right:0;}
.idiom_boxs ul li.fill{background:url("../images/icon.png") no-repeat;background-size:7.5rem 10rem; background-position: 0 -5.19rem;}

.fancy{width:2.56rem;height:0.64rem;margin: 0.4rem auto 0;cursor:pointer;position: relative}
.fancy .think{display:none;width:100%;height:100%;background:url("../images/icon.png") no-repeat;background-size:7.5rem 10rem; background-position: -1.56rem -5.21rem;}


.text_boxs{font-family:"PingFang-Medium";position:fixed;left:0;bottom:0;z-index: 99;width:100%;height:fit-content;background: url("../images/word-bg.png");border-top:1px solid #d4bdaa;box-sizing:border-box;
    -webkit-box-sizing:border-box;padding-top:0.4rem;}
.text_boxs:before{content: '';position: absolute;width:2.4rem;height:2.24rem;background:url("../images/person.png") no-repeat;background-size:100% 100%;left:0.09rem;top:-1.41rem; z-index: 999;}
.text_boxs h4{font-size: 0.32rem;color:#333;line-height: 0.41rem;text-align: center;font-weight: normal;}
.text_boxs .tt_con{font-family:"PingFang-Medium";width:6.5rem;height: auto;margin: 0.47rem auto;clear:both;overflow: hidden;}
.text_boxs .tt_con ul li{position:relative;float:left;width:0.9rem;height:0.9rem;margin-right:0.5rem;margin-bottom:0.3rem;background:url("../images/icon.png") no-repeat;background-size:7.5rem 10rem; background-position: 0.01rem -6.7rem;font-size: 0.4rem;color:#fff;text-shadow:0.05rem 0.02rem 0.1rem black;text-align: center;line-height: 0.9rem;}
.text_boxs .tt_con ul li:nth-child(5n){margin-right:0;}
.text_boxs .tt_con ul li.attr:after {content:" ";bottom:-0.01rem;right:-0.02rem;z-index:9999;position: absolute;/*right:-0.02rem;bottom:-0.01rem;*/width:0.38rem;height:0.35rem;background:url("../images/icon.png") no-repeat;background-size:7.5rem 10rem; background-position: -0.91rem -6.73rem; }

/**/
.idiom-info{
    display: none;
    font-family: "MicrosoftYaHei";
    background: url(../images/info.png) no-repeat;
    background-size: 100% auto;
    width: 6.36rem;
    height: 10.28rem;
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    margin:-5.14rem auto 0;
    color: #333;
    padding:1.8rem .62rem 1.26rem;
    box-sizing: border-box;
    z-index: 666;
}

.idiom-info .font{
    height:0.68rem;
    line-height: 0.68rem;width:4.72rem;margin:0 auto;
}
.idiom-info .font li{float:left;text-align: center;width:1.18rem;line-height: 0.68rem;font-size: 0.5rem;}

.idiom-info .pell{width:4.72rem;margin:0 auto;height:0.44rem;line-height: 0.44rem;}
.idiom-info .pell li{float:left;text-align: center;width:1.18rem;line-height: 0.44rem;font-size: 0.3rem;}



.idiom-info .name,.idiom-info .content{
    background-color:transparent ;
    font-size: .32rem;
    line-height: .36rem;
    margin-top: .2rem;
}
.idiom-info .content{
    font-size: .28rem;
    margin-left: .5em;
}
.idiom-info .next{width:2.73rem;height:0.81rem;background:url("../images/icon.png") no-repeat;background-size:7.5rem 10rem; background-position: -4.64rem -0.03rem;position: absolute;left:50%;bottom:0;margin-left:-1.365rem; }
.translucent-bg{
    display:none;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 222;
}
.idiom-info .com{
    height: 4.4rem;
    overflow-x: hidden;
    overflow-y: auto;
}


