@charset "UTF-8";
header{width: 100%;overflow: hidden;background: #ffffff;position: fixed;top: 0;z-index: 99}
.head-signal{width: 100%;height: .4rem;}
.head-pink{background:#ff8699;}
.head-con{overflow: hidden; position: relative;}
.head-return{display: block;overflow: hidden;position: absolute;
    left: .3rem;z-index: 2;bottom: .25rem;}
.head-return img{display: block;width: .2rem;height: .35rem;}
.head-con span{width: 100%;text-align: center;line-height: .88rem;font-size: .36rem;
    color: #ffffff;display: block;}
.head-add{display: block;   color: #ffffff;width: .35rem;height: .35rem;
    margin-top: .04rem;position: absolute;bottom: .25rem;right: .3rem;}
.head-add img{display: block;width: .35rem;height: .35rem;}
.head-code{width: .48rem;height: .55rem;display: block; position: absolute;bottom: .1rem;right: .3rem;}
.head-code img{display: block;width: .48rem;height: .55rem;}

.main{margin-top: 1.28rem;}





