html,
body {
  height: 100%;
  position: relative;
}
.mark {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.contain .recall {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5.62rem;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  z-index: 100;
}
.contain .recall h3 {
  font-size: 0.36rem;
  color: #2b333b;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border-bottom: 0.01rem solid #d9dde1;
  font-weight: normal;
}
.contain .recall h3 span {
  display: block;
  font-size: 0.3rem;
  color: #878c91;
}
.contain .recall ul li {
  float: left;
  width: 49%;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  font-size: 0.36rem;
  color: #116ae4;
  border-right: 0.01rem solid #d9dde1;
}
.contain .recall ul li:last-child {
  border: none;
}
