.container header {
  box-shadow: 0 0.02rem 0.08rem 0 rgba(0, 0, 0, 0.06);
}
.container header .heart {
  margin-right: 0.6rem;
}
.container main {
  margin-top: 1.28rem;
}
.container main .main-detail {
  border-bottom: 0.2rem solid #f8f8f8;
}
.container main .main-detail .title {
  position: relative;
  height: 1.32rem;
}
.container main .main-detail .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #f1f1f1;
  transform: scaleY(0.5);
}
.container main .main-detail .title .ava {
  margin: 0.3rem 0.16rem 0 0.3rem;
}
.container main .main-detail .title .ava img {
  width: 0.72rem;
  height: 0.72rem;
  border-radius: 50%;
}
.container main .main-detail .title .title-right {
  margin-top: 0.3rem;
}
.container main .main-detail .title .title-right h4 {
  font-size: 0.28rem;
  color: #2b333b;
  font-weight: normal;
  line-height: 0.5rem;
}
.container main .main-detail .title .title-right p {
  color: #b7bbbf;
  line-height: 0.24rem;
}
.container main .main-detail .title .title-right p b {
  font-weight: normal;
}
.container main .main-detail .content {
  margin: 0.3rem;
}
.container main .main-detail .content h4 {
  font-size: 0.32rem;
  color: #2b333b;
  line-height: 0.52rem;
  margin: 0.3rem 0 0.2rem 0;
}
.container main .main-detail .content .data-statist {
  background: #f8f8f8;
  border-radius: 4px;
}
.container main .main-detail .content .data-statist li {
  position: relative;
  float: left;
  width: 2.3rem;
  height: 1.2rem;
  text-align: center;
}
.container main .main-detail .content .data-statist li:after {
  content: "";
  position: absolute;
  top: 0.3rem;
  right: 0;
  width: 0.02rem;
  height: 0.6rem;
  background: #f1f1f1;
}
.container main .main-detail .content .data-statist li:last-of-type:after {
  display: none;
}
.container main .main-detail .content .data-statist li .num {
  font-size: 0.4rem;
  color: #f01414;
  line-height: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.12rem;
}
.container main .main-detail .content .data-statist li .num.first {
  color: #f01414;
}
.container main .main-detail .content .data-statist li .num.second {
  color: #09a384;
}
.container main .main-detail .content .data-statist li .num.third {
  color: #ff660d;
}
.container main .main-detail .content .data-statist li span {
  font-size: 0.24rem;
  color: #b7bbbf;
  line-height: 0.24rem;
}
.container main .main-detail .content .opus {
  position: relative;
}
.container main .main-detail .content .opus .opus-text {
  height: 3rem;
  font-size: 0.28rem;
  color: #71777d;
  line-height: 0.6rem;
  overflow: hidden;
}
.container main .main-detail .content .opus .opus-text .up {
  height: 0.6rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.24rem;
  color: #116ae4;
}
.container main .main-detail .content .opus .opus-mark {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.4rem;
  text-align: center;
  line-height: 2.6rem;
  font-size: 0.24rem;
  color: #116ae4;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.8) 35%, #ffffff 100%);
}
.container main .main-detail .content .middle .video {
  width: 6.9rem;
  height: 1rem;
  background: #f8f8f8;
  border-radius: 4px;
}
.container main .main-detail .content .middle .video .video-img {
  width: 0.8rem;
  height: 0.8rem;
  background: url("../img/speaker.png") no-repeat left center;
  background-size: 100% 100%;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
}
.container main .main-detail .content .middle .video .video-img .play {
  width: 0.4rem;
  height: 0.4rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}
.container main .main-detail .content .middle .video .video-text {
  margin-top: 0.18rem;
  margin-left: 0.2rem;
}
.container main .main-detail .content .middle .video .video-text h5 {
  font-size: 0.28rem;
  color: #71777d;
  font-weight: normal;
}
.container main .main-detail .content .middle .video .video-text span {
  font-size: 0.24rem;
  color: #b7bbbf;
}
.container main .main-detail .content .audio .video .video-img {
  background-image: none;
}
.container main .main-detail .content .audio .video .video-img .audio-play {
  width: 0.6rem;
  height: 0.6rem;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
}
.container main .work-adjunct {
  border-bottom: 0.2rem solid #f8f8f8;
}
.container main .work-adjunct h4 {
  position: relative;
  height: 1rem;
  line-height: 1rem;
  padding-left: 0.3rem;
  font-size: 0.3rem;
  color: #2b333b;
}
.container main .work-adjunct h4:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #f1f1f1;
  transform: scaleY(0.5);
}
.container main .work-adjunct .layout {
  width: 0.96rem;
  height: 0.96rem;
  margin: 0.3rem 0.24rem 0.3rem 0.3rem;
  border-radius: 4px;
}
.container main .work-adjunct .right {
  position: relative;
  padding: 0.4rem 0;
  width: 6rem;
}
.container main .work-adjunct .right:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #f1f1f1;
  transform: scaleY(0.5);
}
.container main .work-adjunct .right:last-of-type:after {
  display: none;
}
.container main .work-adjunct .right .name {
  font-size: 0.28rem;
  color: #2b333b;
  margin-bottom: 0.06rem;
}
.container main .work-adjunct .right span {
  font-size: 0.24rem;
  color: #b7bbbf;
}
.container main .work-adjunct .right .download {
  width: 0.6rem;
  height: 0.6rem;
  margin-top: 0.1rem;
  margin-right: 0.3rem;
}
.container main .student-info {
  border-bottom: 0.2rem solid #f8f8f8;
}
.container main .student-info h4 {
  position: relative;
  height: 1rem;
  line-height: 1rem;
  padding-left: 0.3rem;
  font-size: 0.3rem;
  color: #2b333b;
}
.container main .student-info h4:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #f1f1f1;
  transform: scaleY(0.5);
}
.container main .student-info .info-list {
  margin: 0.3rem;
}
.container main .student-info .info-list li {
  height: 0.6rem;
}
.container main .student-info .info-list li span {
  display: inline-block;
  width: 1.12rem;
  text-align: right;
  font-size: 0.28rem;
  color: #b7bbbf;
  font-weight: normal;
  margin-right: 0.3rem;
  overflow: hidden;
}
.container main .student-info .info-list li b {
  display: inline-block;
  font-weight: normal;
  font-size: 0.28rem;
  color: #2b333b;
  overflow: hidden;
}
.container main .comment h4 {
  position: relative;
  height: 1rem;
  line-height: 1rem;
  padding-left: 0.3rem;
  font-size: 0.3rem;
  color: #2b333b;
}
.container main .comment h4:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #f1f1f1;
  transform: scaleY(0.5);
}
.container main .comment .comment-first .comment-first-li {
  border-bottom: 0.2rem solid #f8f8f8;
}
.container main .comment .comment-first .comment-first-li a {
  font-size: 0.28rem;
  color: #71777d;
}
.container main .comment .comment-first .comment-first-li a .ava {
  width: 0.72rem;
  height: 0.72rem;
  border-radius: 50%;
  margin: 0.3rem 0.16rem 0 0.3rem;
}
.container main .comment .comment-first .comment-first-li a .right {
  position: relative;
  width: 6.32rem;
  padding: 0.3rem 0;
}
.container main .comment .comment-first .comment-first-li a .right:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #f1f1f1;
  transform: scaleY(0.5);
}
.container main .comment .comment-first .comment-first-li a .right:last-of-type:after {
  display: none;
}
.container main .comment .comment-first .comment-first-li a .right .top {
  margin-bottom: 0.2rem;
}
.container main .comment .comment-first .comment-first-li a .right .top .chat li {
  float: left;
  margin-right: 0.3rem;
}
.container main .comment .comment-first .comment-first-li a .right .top .chat li img {
  width: 0.32rem;
  height: 0.32rem;
  vertical-align: middle;
}
.container main .comment .comment-first .comment-first-li a .right .top .chat li span {
  color: #b7bbbf;
  vertical-align: middle;
}
.container main .comment .comment-first .comment-first-li a .right .right-text {
  color: #2b333b;
  line-height: 0.48rem;
  margin-right: 0.3rem;
}
.container main .comment .comment-first .comment-first-li a .right .right-bot {
  font-size: 0.24rem;
  color: #b7bbbf;
  margin-top: 0.2rem;
}
.container main .comment .comment-first .second-box {
  position: relative;
  height: 5rem;
  overflow: hidden;
}
.container main .comment .comment-first .second-box .comment-second {
  margin-left: 1.18rem;
  margin-right: 0.3rem;
}
.container main .comment .comment-first .second-box .comment-second li {
  margin-bottom: 0.2rem;
}
.container main .comment .comment-first .second-box .comment-second li h5 {
  display: inline-block;
  font-size: 0.28rem;
  color: #4277c5;
  font-weight: normal;
}
.container main .comment .comment-first .second-box .comment-second li span {
  font-size: 0.28rem;
  color: #2b333b;
  line-height: 0.5rem;
}
.container main .comment .comment-first .second-box .upward {
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.24rem;
  color: #116ae4;
}
.container main .comment .comment-first .second-box .comment-mark {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.4rem;
  text-align: center;
  line-height: 2rem;
  font-size: 0.24rem;
  color: #116ae4;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.8) 35%, #ffffff 100%);
}
