.container {
  position: relative;
}
.container main .panel .work-handle {
  border-bottom: 0.2rem solid #f8f8f8;
}
.container main .panel .work-handle h4 b {
  float: right;
  margin-right: 0.3rem;
  margin-top: 0.1rem;
}
.container main .panel .work-handle h4 b img {
  width: 0.32rem;
  height: 0.32rem;
}
.container main .panel .work-handle .upload-img .title {
  position: relative;
  padding-left: 0.38rem;
  height: 0.82rem;
  line-height: 0.82rem;
}
.container main .panel .work-handle .upload-img .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.3rem;
  right: 0;
  border-bottom: 1px solid #f1f1f1;
  transform: scaleY(0.5);
}
.container main .panel .work-handle .upload-img .title li {
  font-size: 0.32rem;
  color: #2b333b;
  font-weight: bold;
}
.container main .panel .work-handle .upload-img .title li.delete {
  color: #f01414;
  margin-right: -0.3rem;
  font-weight: normal;
}
.container main .panel .work-handle .upload-img .upload-main .img-box {
  padding: 0.4rem 0.3rem;
  box-sizing: border-box;
}
.container main .panel .work-handle .upload-img .upload-main .img-box li {
  position: relative;
  float: left;
  width: 1.56rem;
  height: 1.56rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}
.container main .panel .work-handle .upload-img .upload-main .img-box li:nth-child(4n) {
  margin-right: 0;
}
.container main .panel .work-handle .upload-img .upload-main .img-box li:last-of-type {
  margin-right: 0;
}
.container main .panel .work-handle .upload-img .upload-main .img-box li img {
  width: 100%;
  height: 100%;
}
.container main .panel .work-handle .upload-img .upload-main .img-box li .img-cancel {
  position: absolute;
  right: -0.1rem;
  top: -0.1rem;
  width: 0.36rem;
  height: 0.36rem;
}
.container main .panel .work-handle .upload-text .top {
  position: relative;
}
.container main .panel .work-handle .upload-text .top .text-title {
  position: relative;
  padding-left: 0.38rem;
  height: 0.82rem;
  line-height: 0.82rem;
}
.container main .panel .work-handle .upload-text .top .text-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.3rem;
  right: 0;
  border-bottom: 1px solid #f1f1f1;
  transform: scaleY(0.5);
}
.container main .panel .work-handle .upload-text .top .text-title li {
  font-size: 0.32rem;
  color: #2b333b;
  font-weight: bold;
}
.container main .panel .work-handle .upload-text .top .text-title li.hand {
  color: #116ae4;
  margin-right: 0.3rem;
  font-weight: normal;
}
.container main .panel .work-handle .upload-text .top .handle-box {
  position: absolute;
  right: 0.3rem;
  top: 0.2rem;
  display: none;
}
.container main .panel .work-handle .upload-text .top .handle-box li {
  float: left;
  font-size: 0.32rem;
  color: #2b333b;
  margin-left: 0.3rem;
}
.container main .panel .work-handle .upload-text .top .handle-box li.hand {
  color: #116ae4;
}
.container main .panel .work-handle .upload-text .top .handle-box li.delete {
  color: #f01414;
}
.container main .panel .work-handle .upload-text .text-comp {
  padding-top: .3rem;
  box-sizing: border-box;
}
.container main .panel .work-handle .upload-text .text-comp .compile {
  box-sizing: border-box;
  line-height: .6rem;
  margin: 0;
  min-height: 8rem;
  border-radius: 0;
}
.container footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.98rem;
  line-height: 0.98rem;
  font-size: .36rem;
  color: #116ae4;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.04);
  font-weight: bold;
}
