body {
  background: #fff;
}
body main .no-data img {
  width: 3.4rem;
  height: 2.2rem;
  margin-top: 2.1rem;
  margin-left: 1.8rem;
  margin-bottom: 0.6rem;
}
body main .no-data p {
  font-size: 0.28rem;
  color: #71777d;
  text-align: center;
}
body main .no-data .publish-now {
  width: 2.6rem;
  height: 0.64rem;
  line-height: 0.64rem;
  text-align: center;
  border: 0.01rem solid #116ae4;
  border-radius: 100px;
  margin-left: 2.45rem;
  margin-top: 0.6rem;
}
body main .no-data .publish-now a {
  font-size: .28rem;
  color: #116ae4;
}
