@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  font: 14px/1.5 微软雅黑;
  color: #333;
}
ul {
  list-style-type: none;
}
input,
select,
textarea {
  vertical-align: middle;
  font: 14px 微软雅黑;
  color: #333;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: #333;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  border: 0px;
  margin: 0;
  padding: 0;
}
img {
  border: 0px;
}
i,
em {
  font-style: normal;
}
b {
  font-weight: normal;
}
.clearfix {
  overflow: hidden;
  zoom: 1;
}
.clear {
  clear: both;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
}
.fl {
  float: left;
  width: 85%;
}
.fr {
  float: right;
}

/* 返回顶部 */
.moveTop {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 5;
  background: url(http://img.learn.16q.cn/home/multiple/icons_new3.png)
    no-repeat;
  background-size: 50px auto;
  background-position: 0 -60px;
  display: none;
}

/*搜索框2017.07.04*/
header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 84px;
}
.header_pos {
  height: 92px;
}
.seachBox {
  padding: 10px 15px;
  background-color: white;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}
.seachBox a {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  height: 32px;
  line-height: 32px;
  width: 100%;
  color: #ccc;
  position: relative;
  z-index: 0;
  font-size: 14px;
}
.seachBox a::before {
  position: absolute;
  background: #f5f6f8;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  content: "";
  box-sizing: border-box;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  display: block;
  border-radius: 40px;
}
.seachBox a b {
  width: 18px;
  height: 18px;
  background: url(http://img.learn.16q.cn/home/cx/ss.png) no-repeat;
  background-size: contain;
  display: block;
  margin: 0px 8px 0 0;
}

/*推荐头*/
.lineGray {
  height: 0.16rem;
  background-color: #f9f9f9;
}
.tuijian-menu {
  position: relative;
  height: 40px;
  background: -webkit-linear-gradient(top, transparent 40%, #ebebeb 0) center
    bottom no-repeat #fff;
  background-size: 100% 1px;
}
.menu-more {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
.menu-more:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  background: url(http://img.learn.16q.cn/home/cxjt/icons_new.png) no-repeat;
  background-position: 0 -100px;
  background-size: 50px auto;
}
.menu-more:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-image: -webkit-linear-gradient(left, transparent 40%, #ebebeb 0);
  background-size: 1px 100%;
  background-position: left;
  background-repeat: no-repeat;
}
.tuijianTit {
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.tuijianTit::-webkit-scrollbar {
  display: none;
}
.tuijianTit > a {
  width: 20%;
  float: left;
  display: block;
  height: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  position: relative;
  color: #565656;
}
.tuijianTit > a.active {
  color: #0099ff;
}
.tuijianTit > a.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 76px;
  margin-left: -19px;
  height: 4px;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: left bottom;
  transform: scale(0.5);
  transform-origin: left bottom;
  background: #0099ff;
}

.header_pos {
  height: 84px;
}

.swiper-pagination-switch {
  width: 6px;
  height: 6px;
  margin: 0 4px;
  border-radius: 50%;
  background: #fff;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}
.swiper-active-switch {
  background: #3d97d6;
}

.swiper-nav {
  height: 44px;
}
.swiper-nav span {
  height: 44px;
  line-height: 44px;
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  color: #333;
}
.swiper-nav .active span {
  color: #017ee5;
} /*2016.03.09*/
.swiper-nav .active span::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 20%;
  width: 120%;
  height: 3px;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform: scale(0.5);
  transform-origin: left top;
  background: #017ee5;
} /*2016.03.09*/

/*分类导航*/
.nav-cate {
  height: 0.74rem;
  line-height: 0.74rem;
  padding: 0 0.3rem;
  position: relative;
  background: -webkit-linear-gradient(top, transparent 40%, #ebebeb 0) center
    bottom no-repeat;
  background-size: 100% 1px;
  position: relative;
  font-size: 13px;
  color: #999;
}
.nav-cate::after {
  position: absolute;
  right: 0.3rem;
  top: 50%;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border: solid #0099ff;
  border-width: 1px 1px 0 0;
  -webkit-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg);
}

/*推荐专题*/
/*专题*/
#tabs-container .swiper-slide {
  width: 100%;
}
.groupM {
  padding: 0 0.2rem;
}
.groupM li {
  position: relative;
}
.groupM li a {
  display: -webkit-box;
  -webkit-box-align: center;
  width: 100%;
  padding: 0.2rem 1.2rem 0.2rem 0.04rem;
  background: -webkit-linear-gradient(top, transparent 40%, #ebebeb 0) center
    bottom no-repeat;
  background-size: 100% 1px;
}
.groupM li a > * {
  display: block;
}
.imgSpecial {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 0.2rem;
}
.imgSpecial img {
  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, 0.1);
}
.groupM li dl {
  -webkit-box-flex: 1;
}
.groupM li dt {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
  max-height: 40px;
}
.groupM li dd {
  font-size: 13px;
  color: #999;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.groupM li dd label {
  margin-right: 15px;
}
.addCollect {
  width: 1rem;
  height: 0.6rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.3rem;
  background: url(http://img.learn.16q.cn/3/common/btn_collect.png) no-repeat;
  background-size: 1rem auto;
  background-position: 0 0;
}
.addCollectC {
  background-position: 0 -0.6rem;
}
/*期刊*/
.imgPeriodical {
  width: 1.03rem;
  height: 1.49rem;
  overflow: hidden;
  margin-right: 0.2rem;
  border: solid 1px #bcbcbc;
}
.imgPeriodical img {
  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, 0.1);
}
/*小组广场*/
.imgGroup {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.2rem;
}
.imgGroup img {
  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, 0.1);
}

.addGroup {
  width: 1rem;
  height: 0.6rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.3rem;
  background: url(http://img.learn.16q.cn/3/common/btn_add.png) no-repeat;
  background-size: 1rem auto;
  background-position: 0 0;
}
.addGroupC {
  background-position: 0 -0.6rem;
}

.imgSpecial {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 0.2rem;
}
.imgSpecial img {
  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, 0.1);
}

/*推荐*/
.news-item-bj {
  padding: 0.3rem 0.3rem;
  background: -moz-linear-gradient(top, transparent 40%, #ebebeb 0) center
    bottom no-repeat;
  background: -webkit-gradient(top, transparent 40%, #ebebeb 0) center bottom
    no-repeat;
  background: -webkit-linear-gradient(top, transparent 40%, #ebebeb 0) center
    bottom no-repeat;
  background: -o-linear-gradient(top, transparent 40%, #ebebeb 0) center bottom
    no-repeat;
  background: -ms-linear-gradient(top, transparent 40%, #ebebeb 0) center bottom
    no-repeat;
  background: linear-gradient(top, transparent 40%, #ebebeb 0) center bottom
    no-repeat;
  background-size: 100% 1px;
}
.item-bj-tit {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.item-bj-aside {
  font-size: 14px;
  line-height: 1.3;
  color: #999;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0.16rem;
}
.news-item-bj .item-bj-imgs {
  margin-top: 0.12rem;
}
.news-item .img img {
  background-color: rgba(150, 150, 150, 0.1);
  height: 100%;
  display: block;
}
.item-bj-imgsA .img {
  position: relative;
  width: 100%;
  max-height: 3.4rem;
  overflow: hidden;
}
.item-bj-imgsA .img img {
  width: 100%;
}
.item-bj-imgsA .icon-video {
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5rem 0 0 -0.5rem;
  z-index: 9;
  background: url(http://img.learn.16q.cn/home/multiple/icons_new.png) no-repeat;
  background-position: 0 -0.14rem;
  background-size: 1rem auto;
}
.item-bj-imgsB .img {
  width: 50%;
  height: 1.92rem;
  padding-right: 0.08rem;
  overflow: hidden;
}
.item-bj-imgsB .img:last-child {
  padding-right: 0;
}
.item-bj-imgsB .img img {
  width: 100%;
}
.item-bj-imgsC .img {
  width: 33.33%;
  height: 1.6rem;
  padding-right: 0.08rem;
  overflow: hidden;
}
.item-bj-imgsC .img:last-child {
  padding-right: 0;
}
.item-bj-imgsC .img img {
  width: 100%;
}
.item-bj-tags {
  color: #b4b4b4;
  margin-top: 0.15rem;
  font-size: 0;
}
.item-bj-tags .tag {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 13px;
  margin-right: 7px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item-bj-tags .tag-attr i {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  padding: 0 5px;
  text-align: center;
  border-radius: 4px;
  background: #ccc;
  color: #fff;
}
.item-bj-tags .tag-close {
  margin-right: 0;
  width: 30px;
  height: 12px;
  position: relative;
}
.item-bj-tags .tag-close i {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  top: -8px;
  z-index: 9;
}
.item-bj-tags .tag-close i::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -4px;
  background: url(http://img.learn.16q.cn/home/multiple/x.png) no-repeat;
  background-position: 0 0;
  background-size: contain;
  display: inline-block;
}
.news-item-xz {
  padding: 0.4rem 0.3rem;
  background: -webkit-linear-gradient(top, transparent 40%, #ebebeb 0) center
    bottom no-repeat;
  background-size: 100% 1px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -moz-box-align: center;
}
.news-item-xz .item-bj-imgs {
  width: 1.72rem;
  height: 1.3rem;
}
.news-item-xz .item-bj-imgs img {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 5px;
  background-color: rgba(150, 150, 150, 0.1);
}
.news-item-xz .txt-item {
  -webkit-box-flex: 1;
}
.news-item-xz .item-bj-aside {
  margin-top: 0;
  display: block;
  white-space: nowrap;
}
.news-item-xz .addGroup {
  width: 50px;
  height: 30px;
  display: inline-block;
  background: url(http://img.learn.16q.cn/3/common/btn_add.png) no-repeat;
  background-size: 50px auto;
  background-position: 0 0;
  margin-left: 20px;
  position: relative;
  margin-top: -2px;
}
.news-item-xz .addGroupC {
  background-position: 0 -30px;
}
.news-item-xz .addTopic {
  width: 50px;
  height: 30px;
  display: inline-block;
  background: url(http://img.learn.16q.cn/3/common/btn_collect.png) no-repeat;
  background-size: 50px auto;
  background-position: 0 0;
  margin-left: 20px;
  margin-top: -2px;
}
.news-item-xz .item-qk-imgs {
  width: 1.72rem;
  height: 1.52rem;
}
.news-item-xz .item-qk-imgs img {
  width: 1.2rem;
  height: 1.52rem;
  border-radius: 5px;
  background-color: rgba(150, 150, 150, 0.1);
}

@media screen and (min-width: 212px) {
  html {
    font-size: 28.4px;
  }
}

@media screen and (min-width: 319px) {
  html {
    font-size: 42.67px;
  }
}

@media screen and (min-width: 359px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 374px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 383px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 399px) {
  html {
    font-size: 53.2px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 423px) {
  html {
    font-size: 56.53px;
  }
}

@media screen and (min-width: 479px) {
  html {
    font-size: 64px;
  }
}

@media screen and (min-width: 539px) {
  html {
    font-size: 72px;
  }
}

@media screen and (min-width: 639px) {
  html {
    font-size: 85.33px;
  }
}
@media only screen and (min-width: 750px) {
  .wrapMax {
    width: 640px;
    margin: 0 auto;
  }
  header {
    width: 640px;
  }
}

/*加载*/
.pullUp {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  color: #b3b3b3;
}
.pullUp .pullUpIcon {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin: 12px 9px 0 0;
  background: url(http://img.learn.16q.cn/home/2/new/refresh.png) no-repeat;
  background-size: contain;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

/*2017.3.7夜间模式*/
/*夜间模式*/
.nightmode a {
  color: #999;
}
.nightmode .wrapMax {
  background: #3f3f3f;
}
.nightmode .seachBox {
  background: #2e2e2e;
}
.nightmode .seachBox a::before {
  background: #3f3f3f;
  border: 0 none;
}
.nightmode .cyNav {
  background: #3f3f3f;
}
.nightmode .cyNav li a > * {
  color: #999999;
}
.nightmode .item-bj-tit {
  color: #6699cc;
}
.nightmode .news-item,
.nightmode .nav-cate,
.nightmode .groupM li a {
  background: -webkit-linear-gradient(top, transparent 40%, #2e2e2e 0) center
    bottom no-repeat;
  background-size: 100% 1px;
}
.nightmode .pullUp {
  background: #3f3f3f;
  color: #6699cc;
}
.nightmode .imgPeriodical {
  border: 1px solid #2e2e2e;
}
.nightmode .tuijian-menu {
  background: -webkit-linear-gradient(top, transparent 40%, #2e2e2e 0) center
    bottom no-repeat #3f3f3f;
  background-size: 100% 1px;
}
.nightmode .lineGray {
  background: #2e2e2e;
}
.nightmode .menu-more:after {
  background-image: -webkit-linear-gradient(left, transparent 40%, #2e2e2e 0);
  background-size: 1px 100%;
}
