@charset "UTF-8";
.line{background: -webkit-linear-gradient(top,transparent 50%,#e5e5e5 50%) center bottom no-repeat;
    background-size: 100% 1px;}
.after-scale{
    position: relative;
}
.after-scale:after{
    content:"";  position: absolute;
    bottom:0;  left:0;  right:0;
    border-bottom:1px solid #c8c7cc;
    -webkit-transform:scaleY(.5);
    -webkit-transform-origin:0 0;
}

.center{height:auto;clear:both;overflow: hidden;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding: 0.32rem 0; width:92%;margin:0 auto;}

.clasNamic{width:100%;}
.clasNamic ul li{padding:0.2rem 0;font-size: 0.32rem;color: #333333;overflow: hidden;}
.clasNamic ul li .img{width:1.3rem;height:1.3rem;float:left;overflow: hidden;}
.clasNamic ul li .img a{display:block;}
.clasNamic ul li .img a img{width:100%;height:100%;}
.clasNamic ul li .tit{float:left;margin-left:0.25rem;position: relative;width:5.35rem;height:1.3rem;}
.clasNamic ul li .tit:after{
    content:"";  position: absolute;
    bottom:-0.2rem;  left:0;  right:0;
    border-bottom:1px solid #e4e4e4;
    -webkit-transform:scaleY(.5);
    -webkit-transform-origin:0 0;
}
.clasNamic ul li .tit h3{height:0.5rem;line-height: 0.5rem;font-size: 0.32rem;color:#333;margin-bottom:0.18rem;}
.clasNamic ul li .tit p{line-height: 0.3rem;font-size: 0.24rem;color:#999999;}
