@charset "UTF-8";
/*首页*/
body{width: 100%;height: 100%;overflow: hidden;}
.wrapHead{overflow: hidden;position: fixed;top: 0;width: 100%;z-index: 9999;}
.body-bg{width: 100%;height: 100%;background: url("../images/index-bg.png") no-repeat top center;
    -webkit-background-size: 100%;  background-size: 100% 100%;overflow: hidden;position: absolute;top: 0;z-index: -1;}
.game-list{overflow: hidden;width: 100%;position: absolute;left: 50%;top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.game-list ul{overflow: hidden;margin-top: 1.9rem;}
.game-list ul li{display: block;width:4.6rem;height: 1.28rem;background-size:7.5rem 10rem ;
    overflow: hidden;margin: 0 auto 0.6rem;background-repeat: no-repeat;background-image: url("../images/icon.png");}
.game-list ul li.cur{ animation: scale 400ms;
    -webkit-animation: scale 400ms;
    -o-animation: scale 400ms;
    animation: scale 400ms; }
.game-list ul li:nth-child(1){background-position:0 0;}
.game-list ul li:nth-child(2){background-position:0 -1.3rem;}
.game-list ul li:nth-child(3){background-position:0 -2.6rem;}
.game-list ul li:nth-child(4){background-position:0 -3.9rem;}
@keyframes scale {
    0%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);}
    50%{
        -webkit-transform: scale(0.9,0.9);
        -moz-transform: scale(0.9,0.9);
        -ms-transform: scale(0.9,0.9);
        -o-transform: scale(0.9,0.9);
        transform: scale(0.9,0.9);}
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes  scale{
    0%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);}
    50%{
        -webkit-transform: scale(0.9,0.9);
        -moz-transform: scale(0.9,0.9);
        -ms-transform: scale(0.9,0.9);
        -o-transform: scale(0.9,0.9);
        transform: scale(0.9,0.9);}
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes scale {
    0%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);}
    50%{
        -webkit-transform: scale(0.9,0.9);
        -moz-transform: scale(0.9,0.9);
        -ms-transform: scale(0.9,0.9);
        -o-transform: scale(0.9,0.9);
        transform: scale(0.9,0.9);}
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-o-keyframes scale {
    0%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);}
    50%{
        -webkit-transform: scale(0.9,0.9);
        -moz-transform: scale(0.9,0.9);
        -ms-transform: scale(0.9,0.9);
        -o-transform: scale(0.9,0.9);
        transform: scale(0.9,0.9);}
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-ms-keyframes scale {
    0%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);}
    50%{
        -webkit-transform: scale(0.9,0.9);
        -moz-transform: scale(0.9,0.9);
        -ms-transform: scale(0.9,0.9);
        -o-transform: scale(0.9,0.9);
        transform: scale(0.9,0.9);}
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
/*搜索*/
.search-bg{width: 100%;height: 100%;background: url("../images/search-bg.png") no-repeat top center;
    -webkit-background-size: 100%;  background-size: 100% 100%;overflow: hidden;position: absolute;top: 0;z-index: -1;}
.head-con span{color: #333333;}
.search-title{overflow: hidden;width: 6.68rem;height: 1.17rem;margin: 1.8rem auto 0;display: block;}
.search-con{width: 5.9rem;  height: 0.9rem;  background-color: #ffffff;
    border-radius: 0.1rem;  border: solid 0.01rem #964f1a;margin: 0.8rem auto;}
.search-con input{    width: 5.5rem;  height: 0.85rem;  background-color: #ffffff;
    border-radius: 0.1rem;  border: none;  font-size: 0.3rem;  margin-left: .2rem;  margin-top: .02rem;}
.search-con input:empty::before {  color: #999999;  content: attr(placeholder);  }
.search-con input:focus:before{  content:none;  }

/*搜索内容*/
.search-head{width: 100%;overflow: hidden;background: #ffffff;}
.search-head:after{  content:"";  position: absolute;  bottom:0;  left:0;  right:0;
    border-bottom:1px solid #e5e5e5;  -webkit-transform:scaleY(.5);  -webkit-transform-origin:0 0;
}
.head-signal{width: 100%;height: .2rem;overflow: hidden;}
.search-ipt{overflow: hidden;height: .88rem;position: relative;border-bottom:.01rem solid #e5e5e5;}
.head-blue{background:#4e9fee;}
.head-con{height:.88rem;overflow: hidden; position: relative;}
.head-return{display: block;overflow: hidden;position: absolute;
    left: .3rem;z-index: 2;bottom: .1rem;}
.head-return img{display: block;width: .2rem;height: .36rem;}
.search-btn{display: block;  font-size: 0.3rem;  margin-top: .04rem;position: absolute;top: .2rem;right: .3rem;}
.search{width: 6.38rem;  height: 0.6rem;  border-radius: 0.3rem; margin-left: .8rem;
    border: solid 0.01rem #dddddd;    margin-top: .13rem;}
.search .search-img{display: block;float: left;width: 0.36rem;  height: 0.36rem;    margin: .13rem .2rem 0 .3rem;
    background: url("../images/icon-search.png") no-repeat center;background-size: .36rem .36rem;}
.search input{display: block;  float: left;  height: .56rem;  margin-top: .02rem; font-size: 0.3rem;
    border: none;  width:4.7rem;}
.search input:empty::before {  color: #999999;  content: attr(placeholder);  }
.search input:focus:before{  content:'';  }
.search .search-cancel{width: 0.3rem;height: 0.3rem;display: block;float: left;;
    background-image: url("../images/icon.png");margin-top: .17rem;  margin-left: .16rem;
background-size: 7.5rem 10rem;background-repeat: no-repeat;background-position: -2.6rem -6.2rem;}
.search-history{overflow: hidden;background: #ffffff;}
.history-title{margin: 0 .3rem;position: relative;
    height: 0.9rem;font-size: 0.3rem;/*display: flex;*/align-items:center;}
.history-title:after{content:"";  position: absolute;  bottom:0;  left:0;  right:0;
    border-bottom:1px solid #e5e5e5;  -webkit-transform:scaleY(.5);
    -webkit-transform-origin:0 0;}
.history-clock{display: block;float: left;    margin-top: .26rem;width: .32rem;height: .34rem;background-image: url("../images/icon.png");
background-repeat: no-repeat;background-position: -1.6rem -6.1rem;background-size: 7.5rem 10rem;margin-right: .2rem;}
.history-title h3{    margin-top: 0.25rem;
    float: left;}
.delete-history{width: 0.35rem;height: 0.3rem;background-image: url("../images/icon.png");
    background-repeat: no-repeat;background-position: -3.2rem -6.2rem;background-size: 7.5rem 10rem;  /* position: absolute;*/
   /* right: .3rem;*/    float: right;
    margin-top: .3rem;
    margin-right: .3rem;}
.history-list{overflow: hidden;padding-top: .3rem;}
.history-list ul{margin-left: .3rem;}
.history-list ul li{display: block;font-size: 0.3rem;color: #546a80;margin-right: .3rem;margin-bottom: .3rem;
    padding: .1rem .2rem;background:rgba(78, 159, 238, 0.3);float: left;border-radius: .1rem; }
.search-result{background: #ffffff;overflow: hidden;}
.search-result ul{margin: 0 .3rem;}
.search-result ul li{height: .89rem;position: relative;line-height: .89rem;font-size: .3rem;}
.search-result ul li a{display: block;overflow: hidden;}
.search-result ul li:after{position: absolute;content: '';bottom: 0;left: 0;right: 0;
    border-bottom: 0.01rem solid #e5e5e5;  }
/*serch-explain*/
.search-result-bg{width: 100%;height: 100%;background: url("../images/search-reslut-bg.png") no-repeat top center;
    -webkit-background-size: 100%;  background-size: 100% 100%;overflow: hidden;position: absolute;top: 0;z-index: -1;}
.idiom{overflow: hidden;margin: 0 auto;margin-top: 1.3rem;}
.idiom ul{overflow: hidden;margin: 0 auto ;/*display: flex;justify-content: center;*/}
.idiom ul li{display: block;float: left;width: 1.3rem;text-align: center;margin-left: .47rem;}
.idiom .idiom-pinyin{margin-bottom: 0.1rem;}
.idiom-pinyin li{font-size: 0.4rem;height: 0.6rem;line-height: .6rem;}
.idiom-con li{height:1.3rem;line-height: 1.3rem;overflow: hidden;background-image: url("../images/icon.png");
    background-repeat: no-repeat;    background-position: 0 -4.7rem;  background-size: 7.0rem 9.1rem;font-size: .6rem; }
.expalin{overflow: hidden;margin: 1.4rem .3rem 0;}
.ex-list{overflow: hidden;margin-bottom: 0.7rem;  }
.expalin h1{font-size: 0.3rem;font-weight: normal;margin-left: -0.12rem;margin-bottom: 0.1rem;}
.expalin p{font-size: 0.3rem;  line-height: .5rem;}

/*sort*/
.head-ul{width: 4.6rem;height: 0.56rem;overflow: hidden;background: #ffffff;
    margin: 0.14rem auto;border: .02rem solid #ffffff;border-radius: 0.3rem;}
.head-ul ul{line-height: .6rem;font-size: .34rem;color: #ffffff;height: 0.6rem;
    border-radius: 0.3rem;margin-top: -0.02rem;background: #4e9fee;}
.head-ul ul li{display: block;float: left;width: 50%;text-align: center;}
.head-ul ul li.cur{background: #ffffff;color: #4e9fee;}
.sort-list{height: .87rem;line-height: .87rem;position: relative;}
.sort-list:after{content: "";position: absolute;bottom: 0;left: 0;right: 0;border-bottom: 1px solid  #e5e5e5;
    -webkit-transform: scalaY(0.5);  -moz-transform: scalaY(0.5);  -ms-transform: scalaY(0.5);  -o-transform: scalaY(0.5);  transform: scalaY(0.5);
    -webkit-transform-origin: 0 0;  -moz-transform-origin: 0 0;  -ms-transform-origin: 0 0;  -o-transform-origin: 0 0;  transform-origin: 0 0;  }
.sort-list ul{overflow: hidden;background: url("../images/ul-line.png") no-repeat 50% center;background: #ffffff;}
.sort-list ul li{display: block;float: left;width: 50%;font-size:.32rem;
    text-align: center;line-height: .84rem }
.sort-list ul li span{display: inline-block;padding: 0 .1rem;}
.sort-list ul li.cur span{color: #4e9fee;border-bottom: 2px solid #4e9fee;}
.tips{height: .6rem;overflow: hidden;width: 100%}
.tips span{display: block;width: 2.6rem;height: .3rem;margin: 0.15rem auto; background-image: url("../images/icon.png");
    background-repeat: no-repeat;    background-position: -4.6rem -6.1rem;  background-size: 7.5rem 10rem; }
.ranking{overflow: hidden;}
.ranking table thead{height: 1.35rem;background: #ffffff;overflow: hidden;}
.ranking  tr td:nth-child(2){width: 1.24rem;}
.ranking  tr{overflow: hidden;height: 1.35rem;}
.ranking  tr td:first-child{font-size: .32rem;color: #666666;text-align: center;    padding-right: .2rem;
    padding-left: .3rem;width: .46rem;}
.ranking  tr:first-child td .photo,.ranking  tr:nth-child(2) td .photo,.ranking  tr:nth-child(3) td .photo{margin-top: .2rem;}
.ranking  tr td .photo{position: relative;margin: 0 auto;display:block; width: 1.1rem;}
.photo .user-photo{width: 1rem;height: 1rem;border-radius: 50%;}
.ranking tr td .user{overflow: hidden}
.user span{display: block;font-size: .32rem;}
.user span.use-time{font-size: .28rem;color: #666666;line-height: 0.30rem;}
.user span.get-gemstone{float:left;margin-right:.05rem;width: 0.31rem;height: 0.30rem;display:inline-block;background: url(../images/icon.png) -0.96rem -7.16rem no-repeat;background-size: 7.5rem 10rem;}
.ranking tr td:last-child{font-size: .3rem;text-align: center;padding-right: .3rem;}
.my-ranking tr td:last-child{font-size: .3rem;color: #4e9fee;text-align: right;}
.my-ranking{margin-bottom: .2rem;}
.ranking tbody{background: #ffffff;}
.ranking-list tr{height: 1.5rem;}
.ranking-list tr td:nth-child(3),.ranking-list tr td:nth-child(2){position: relative;}
.ranking-list tr td:last-child{color: #666666;text-align: right;position: relative;}
.ranking-list tr td:last-child:after{  content: '';  position: absolute;;bottom: 0;left: 0;right: .3rem;
    border-bottom: 1px solid #e5e5e5;  -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);  -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);  transform: scaleY(0.5);  }
.ranking-list tr td:nth-child(3):after,.ranking-list tr td:nth-child(2):after{
    content: '';  position: absolute;;bottom: 0;left: 0;right: 0;
    border-bottom: 1px solid #e5e5e5;  -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);  -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);  transform: scaleY(0.5);  }
.level{width: .48rem;height: .74rem;background-image: url("../images/icon.png");
    background-repeat: no-repeat;    background-size: 7.5rem 10rem;}
.level1{ background-position: -4.65rem -3.2rem; }
.level2{ background-position: -5.15rem -3.2rem; }
.level3{ background-position: -5.65rem -3.2rem; }
.king{position: absolute;width: .89rem;height: .77rem;background-image: url("../images/icon.png");
    background-repeat: no-repeat;    background-size: 7.5rem 10rem;  }
.king1{background-position: -4.7rem -4rem;right: .036rem;  top: -0.21rem;}
.king2{background-position: -5.68rem -4rem;    right: .07rem;  top: -0.19rem;}
.king3{background-position: -4.76rem -5rem;right: -.01rem;  top: -0.15rem;}

/*loading*/
.pullUp{  background:#fff;  height:40px;  line-height:40px;  font-size:12px;  text-align:center;  display:none;  }
.pullUp .pullUpIcon{
    display:inline-block;
    vertical-align:top;
    width:22px; height:22px;
    margin:9px 10px 0 0;
    background:url(../images/refresh.png) no-repeat;
    background-size:contain;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;
    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}

.pullEnd{font-size: .26rem;text-align: center;line-height: 1rem;display: none;}
#shareApp{width: 94%;overflow: hidden;margin: 0 auto;position: fixed;bottom: 0;left: 3%;
    z-index: 333;display: none}
.fadeInUp{ -webkit-animation: fadeInUp .3s 1 ;
    -o-animation: fadeInUp .3s 1;
    animation: fadeInUp .3s 1 ;}
#shareApp ul {overflow: hidden;}
#shareApp ul li{background: #ffffff;height: .88rem;font-size: .3rem;text-align: center;display: block;
    line-height:.88rem;color: #068ce1;}
#shareApp ul li:first-child{border-radius: .1rem .1rem 0 0;border-bottom: .01rem solid #dddddd;}
#shareApp ul li:nth-child(2){border-radius: 0 0 .1rem .1rem ;margin-bottom: .2rem;}
#shareApp ul li:last-child{border-radius: .1rem;margin-bottom: .2rem;}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}




